* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body,
html {
    overflow-x: hidden;
    /* Prevent horizontal scroll */
    scroll-behavior: smooth;
}

nav {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 1000;
}

/* Logo */
nav .logo img {
    height: 80px;
}

/* Menu Styles */
nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav ul li {
    padding: 0.5rem 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: color .5s ease, border-color .5s ease;
}



nav ul li a:hover {
    color: #CAFF2B;
    border-color: #CAFF2B;
}



/* Hamburger Menu */
.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked~.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background: rgba(15, 29, 78, 1);
    width: 100%;
    padding: 1rem 0;
    gap: 1rem;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}





/* HEADER */
#header {
    background: url("home-header-background.svg");
    background-size: cover;
    margin-top: -10px;
    padding: 15rem 8rem;
}

#wrapper {
    justify-items: center;
}

#title {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    padding: 8px;
    font-size: 100px;

    width: 100%;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(20),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

#subtitle {
    font-size: 20px;
    text-align: center;
    margin-bottom: 80px;
    color: #939CB6;
}

#btn {
    padding: 20px 60px;
    font-weight: bold;
    border-radius: 10px;
    background: #7B3AEC;
}

#span-title {
    background: linear-gradient(to right, #7B3AEC, #CAFF2B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}





#sponsor {
    background: url("sponsor-background.svg");
    background-size: cover;
    padding: 12rem 5rem;
    margin-top: -10px;
    text-align: center;
}



#sponsor-title {
    font-size: 50px;
    margin-bottom: 10px;
}

#sponsor-subtitle {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 50px;
    color: #959595;
}

#sponsor-wrapper {
    display: flex;
    justify-content: space-evenly;
}




#divider {
    width: 100%;
    margin-top: -5px;
}

#main {
    background: url("main-background.svg");
    background-size: cover;
    margin-top: -10px;
    padding: 10rem 8rem;
}

#main-contents {
    text-align: center;
    margin-bottom: 20rem;
}

#olympics-logo {
    width: 25%;
    margin-bottom: 30px;
}

#main-title {
    font-size: 70px;
    margin-bottom: 20px;

}

#main-subtitle {
    font-size: 20px;
    font-weight: lighter;
    color: #959595;
    margin-bottom: 30px;
}

#main-buttons {
    background: #CAFF2B;
    font-weight: bold;
    color: black;
    padding: 15px 40px;
    border-radius: 10px;
    transition: .5s;
}

#main-buttons:hover {
    background: #acd829;
    transform: scale(1.1);
}







#main-contents2 {
    display: flex;
    justify-content: center;
}

#get-ready-img {
    width: 25%;
}

#texts {
    text-align: left;
    width: 48%;
    margin-left: 5rem;
}

#main-title2 {
    font-size: 50px;
    margin-bottom: 20px;
}

#main-subtitle2 {
    font-size: 20px;
    color: #959595;
    margin-bottom: 30px;
}







/* Footer Styles */
#footer-section {
    background: url("footer-background.svg");
    padding: 6rem 1rem;
    margin-top: -10px;
    color: #fff;
}

#footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.contact1 {
    margin-bottom: 2rem;
}

#footer-imgs {
    text-align: center;
    margin-bottom: 3rem;
}

.imgs {
    width: 5%;
}

#footer-nav a {
    display: block;
    margin-bottom: 1rem;
}

#footer-nav a:hover {
    color: #CAFF2B;
}

#copyright {
    font-size: 1rem;
    text-align: center;
}



@media screen and (max-width: 1028px) {
    #title {
        font-size: 80px;
    }
}




/* Responsive Styles */
@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }

    nav .logo img {
        height: 60px;
    }

    .menu-icon {
        display: block;
    }

    #title {
        font-size: 100px;
        /* Adjust font size for smaller screens */
        padding: 10px;
        /* Reduce padding */
        white-space: normal;
        /* Allow text to wrap */
        border-right: none;
    }

    #main {
        background-position: center;
    }

    #get-ready-img {
        width: 50%;
    }

    #olympics-logo {
        width: 50%;
    }

    #texts {
        text-align: left;
        width: 50%;
        margin-left: 5rem;
    }

    #main-title2 {
        font-size: 40px;
    }

    #main-subtitle2 {
        font-size: 15px;
    }

    nav {
        background: rgba(15, 29, 78, 0.8);
    }
}









@media screen and (max-width: 480px) {
    #header {
        padding: 10rem 2rem;
        text-align: center;
        background-size: cover;
    }

    #title {
        font-size: 50px;
        /* Adjust font size for smaller screens */
        padding: 10px;
        /* Reduce padding */
        white-space: normal;
        /* Allow text to wrap */
        border-right: none;
    }

    #subtitle {
        font-size: 15px;
        margin-bottom: 50px;
        color: #939CB6;
    }

    #btn {
        padding: 15px 100px;
        font-weight: bold;
        border-radius: 10px;
        background: #7B3AEC;
    }

    #span-title {
        background: linear-gradient(to right, #7B3AEC, #CAFF2B);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #sponsor {
        background-position: center;
        margin-top: -10px;
        padding: 8rem 2rem;
        text-align: center;
    }

    #sponsor-title {
        font-size: 40px;
        margin-bottom: 10px;
    }

    #sponsor-subtitle {
        font-size: 20px;
        font-weight: lighter;
        margin-bottom: 50px;
        color: #959595;
    }

    #sponsor-wrapper {
        display: flex;
        justify-content: space-evenly;
    }

    .sponsor-img {
        width: 80%;
    }


    #main {
        background-position: center;
        margin-top: -10px;
        padding: 5rem 2rem;
    }

    #main-contents {
        text-align: center;
        margin-bottom: 10rem;
    }

    #olympics-logo {
        width: 50%;
        margin-bottom: 30px;
    }

    #main-title {
        font-size: 35px;
        margin-bottom: 20px;

    }

    #main-subtitle {
        font-size: 15px;
        font-weight: lighter;
        color: #959595;
        margin-bottom: 30px;
    }

    #main-buttons {
        background: #CAFF2B;
        font-weight: bold;
        color: black;
        padding: 12px 80px;
        border-radius: 10px;
        transition: .5s;
    }


    #main-contents2 {
        flex-wrap: wrap;
    }

    #get-ready-img {
        width: 70%;
        /* Further scales down the image */
        margin-bottom: 30px;
    }

    #texts {
        text-align: center;
        margin-left: -1px;
        width: 100%;
    }

    #main-title2 {
        font-size: 35px;
        /* Adjusts further for small screens */
    }

    #main-subtitle2 {
        font-size: 15px;
    }


    .imgs {
        width: 30%;
    }

    .contact1 {
        font-size: 13px;
        margin-bottom: 3rem;
    }

    .contact1 p {
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .contact1 a {
        font-weight: lighter;
        margin-bottom: 1rem;
    }

    #footer-nav a {
        display: block;
        font-size: 13px;
        margin-bottom: 3rem;
    }
}